.section1 {
	background:#05074c;
}

 .section2 {
 	background:#041556;
 
}

 .section3 {
    background:#562987;

}

 .section4 {
    background:#ffaf07;
 }

 .card, img {
   border-radius: 0;
 }



 